.musics-result {
  display: flex;
  margin: 30px 0;
}

.musics-result .album-selected {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.musics-result .album-selected .album-div {
  background-color: black;
  border-radius: 8px;
  box-shadow: -8px 12px 8px black;
  color: white;
  padding: 16px 8px;
  text-align: center;
  width: 60%;
  max-width: 280px;
}

.musics-result .album-selected .album-div img {
  border-radius: 8px;
  box-shadow: 0 0 4px white;
  width: 60%;
}

.musics-result .album-selected .album-div h2 {
  font-family: Josefin Sans , sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  margin: 8px 0;
  padding: 0 4px;
}

.musics-result .album-selected .album-div h3 {
  font-family: Josefin Sans , sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 0 4px;
}

.musics-result .music-card-section {
  width: 80%;
}

.musics-result .music-card {
  margin-bottom: 16px;
  width: 90%;
}

.carregando-album {
  font-family: Alfa Slab One , cursive;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}

.erro {
  font-family: Alfa Slab One , cursive;
  font-size: 24px;
  margin-top: 30px;
  padding: 0 20px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .musics-result .album-selected .album-div h2 {
    font-size: 18px;
  }

  .musics-result .album-selected .album-div h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .musics-result .album-selected .album-div h2 {
    font-size: 14px;
  }

  .musics-result .album-selected .album-div h3 {
    font-size: 12px;
  }

  .carregando-album {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .musics-result {
    flex-direction: column;
    align-items: center;
  }

  .musics-result .album-selected {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 50%;
  }

  .musics-result .music-card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .carregando-album {
    font-size: 24px;
  }
}
